[submodule "bundle/paredit"]
	path = bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
	ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "bundle/vim-foreplay"]
	path = bundle/vim-foreplay
	url = git://github.com/tpope/vim-foreplay.git
	ignore = untracked
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
	ignore = untracked
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
	ignore = untracked
[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim
	ignore = untracked
