[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
